#heading{

    color:yellow;
    font-size: xxx-large;
    position: relative;
    bottom: 94%;
    font-family:sans-serif;
    text-align: center;
    transition: transform .10s; 

}
#heading:hover{
    font-family: 'Nabla';
   text-transform: uppercase;
   transform: scale(1.01);
    
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
    position:relative;
    align-items: center;
    background-color: rgb(43 50 72);
}

#twit{
    position: fixed;
    left: 56%;
    width: 100px;
    height: 100px;
    border-radius: 110px;
    transition: transform .21s; 
}
#twit:hover{
    transform: scale(1.3);
}
#user{
    image-resolution: 5*8px;
    border: 6px  solid black;
    border-radius:90px;
    position:relative;
    width: 150px;
    left: 46%;
}
#name{
    position:relative;
    left:46.5%;
    color: aliceblue;
    font-weight: bold;  
    font-family: 'Nabla';
    font-size: larger;
   
}


#png{
    position: fixed;
    left: 40%;
    width: 100px;
    height: 100px;
    border-color: rgb(43 50 72);    
    transition: transform .2s; 
    

}

#png:hover{
    transform: scale(1.3);
    
}   
#ex-text{
    color:whitesmoke;
   
    text-align: center;
    position:relative;
    top: 57px;
    transition: transform .2s; 
}
#ex-text:hover{
    color:rgb(200, 163, 223);
    text-transform:unset;
  
    text-shadow: 10px;
    font-family: cursive;
    font-style: italic;
    transform: scale(1.3); 
}
#box{
    margin: auto;
    border-radius: 50px;
    width: 600px;
    height: 300px;
    border: 4px solid white;
    padding: 10px;
    position: inherit;
    top: 45px;
}
#box2{
    margin: auto;
    border-radius: 50px;
   
   padding: 50px;
    width: 650px;
    height: 50px;
   
    padding: 10px;
    position: inherit;
    top: 0px;

 }  

@media screen and (max-width:390px)
{
    body{
    
    overflow-y: hidden;
    overflow-x: hidden;
    

    }
    #heading{
        position:relative;
        font-size: x-large;
        top: -10px;
       
        
        
    }
    #user{
        top: 10px;
        left: 85px;
    }
    #name{
        position:relative;
        left: 23%;
       
    }
    #png{
        position: fixed;
        left: 6%;
    
    }
    #twit{
        position: fixed;
        left: 44.3%;
        
    }
    #box{
        margin: auto;
        border-radius: 50px;
        width: 300px;
        height: 300px;
        border: 3px solid white;
        padding: 10px;
        position: inherit;
        top: 45px;
        right: 25px;
    
    }
    #ex-text{
        color:whitesmoke;
       font-size: smaller;
        text-align: center;
        position:relative;
        top: 130px;
        right: 20px;
    }
    #box2{
        margin: auto;
        border-radius: 50px;
        background-color:rgba(18, 21, 31, 0.358) ;
       padding: 50px;
        width: 300px;
        height: 40px;
        border: 3px solid rgba(0, 0, 0, 0);
        padding: 10px;
        position: inherit;
        top: 0px;
        right: 23px;
    
    }
    #heading:hover{
        font-family: 'Nabla';
    
        font-size:22px ;

    }
   

}
